<!doctype HTML>
<html>

<head>
	<title>{{title}} - Tim Strickler @ The Rowland School of Business</title>
	<style>
	body {
		font-family: "Segoe UI", Arial, Helvetica;
	}

	</style>
</head>

<body>
	<span class="link"><a href="/">Home</a></span>
	<span class="link"><a href="/about">About</a></span>
	<span class="link"><a href="/projects">Projects</a></span>
	<span class="link"><a href="/thoughts">Thoughts</a></span>
	
	{{{body}}}

	<footer>Site contents created between 2016 and 2018 at Point Park University by Tim Strickler and associated students!</footer>

</body>

</html>
